.Footer {
  background-color: #61DAFB;
  width: 100vmax;
  display: flex;
  justify-content: center;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

p{
list-style: none;
display: inline-block;
margin: 1em;
font-size: large;

}

li:hover{
  cursor: pointer;
  text-decoration: underline;
}

