.Form {
  background-color: aliceblue;
  color: #61DAFB;
  text-align: left;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 4em;
  width: 50vw;
  margin-bottom: 10em;
}

input {
  margin: 1em;
  width: 60%;
  height: 2em;
}
.cancelButton {
  width: 50%;
  height: 2em;
  background-color: gray;
  border: 1px solid #61DAFB;
  font-size: large;
  border-radius: 1em;
  margin: .8em;
  color: #61DAFB;
}

.cancelButton:hover{
  background-color:#282D33;
  cursor: pointer;
  color: #61DAFB;
}
.submitButton {
  width: 50%;
  height: 2em;
  background-color: #61DAFB;
  border: 1px solid #61DAFB;
  font-size: large;
  border-radius: 1em;
  margin: .8em;
}

.submitButton:hover{
  background-color:#0597be;
  cursor: pointer;
  color: white;
}