.NavBar {
  background-color: #61DAFB;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  color: white;
  position: fixed;
  top: 0;
}

li{
list-style: none;
display: inline;
margin: 0 1em;
font-size: x-large;
}

li:hover{
  cursor: pointer;
  text-decoration: underline;
}