.NavBar {
  background-color: #61DAFB;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: auto;
  white-space: nowrap;
}

.nav-right {
  background-color: #61DAFB;
  margin-right: 4em;
}

.nav-left{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 3em;
}
@media only screen and (max-width: 600px){
  .nav-left {
    display: none;
  }
  ul{
    padding: 0;
  }
  li{
    margin: 0;
  }
}
#nav-header{
  display: inline;
}

li {
  list-style: none;
  display: inline;
  margin: 0 1em;
  font-size: 1.5em;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.laptop-logo {
  height:4em;
  border-radius: 90%;
  margin: 1em .5em;
}
.nav-link {
  color: white;
  margin: 0;
}
.is-active{
  text-decoration: underline;
}
ul {
  padding: 0
}