.Social-Bar {
  width: 50vw;
  padding: .5em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1em;
}

a {
  display: inline;
  margin: .5em;
  font-size: x-large;
  text-decoration: none;
}
@media only screen and (max-width: 600px){
  .Social-Bar {
    width: 80vw;
  }
}
a:hover{
  text-decoration: underline;
}
.twitter {
  background: linear-gradient(to right,white, #07ABED);
}
.twitter a {
  color: #07ABED;
}
.github {
  background: linear-gradient(to right,white, #3D82C6);
}
.github a {
  color: #3D82C6;
}
.linkedin {
  background: linear-gradient(to right,white, #057FB1);
}
.linkedin a {
  color:#057FB1;
}
.medium {
  background: linear-gradient(to right,white, #30302F);
}
.medium a {
  color: #30302F;
}